.index {
    padding-bottom: 60px;
}

.index h1{
    text-align: center;
    margin: 40px;
    font-size: 36px;
    color: #555;
}

.index ul  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index ul li {
    width: 40vw;
    list-style: none;
}

.index ul div {
    display: flex;
    justify-content: space-between;
}

.index ul .list {
    padding-top: 10px;
}

.index ul div a {
    color: rgb(99, 133, 49);
}

.index .date {
    width: 150px;
}

